.landing-img {
   width: 100%;
   @include media-query(gt-sm) {
      padding: {
         top: 60px;
      }
   }
   @include media-query(gt-sm) {
      padding-top: 30px;
   }
   @include media-query(gt-md) {
      padding-top: 60px;
   }
   > .container {
      @include media-query(lt-md) {
         padding-inline: 0;
      }
   }
   img {
      width: 100%;
      display: block;
      @include media-query(gt-sm) {
         border-radius: 20px;
      }
   }
}
.landing {
   .container {
      > p {
         font-size: 16px;
      }
   }
}
