.nutrition {
  // &__table {
  // }
  &__table-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: {
        left: 32px;
        top: 16px;
        bottom: 16px;
    } 
    &:not(:first-child) {
      border-top: 1px solid #e0e0e0;
    }
  }
  // &__table-item {
  // }
  // &__table-item.item-type {
  // }
  &__table-item.item-value {
    flex-basis: 50%;
    color: $nutmeg;
    font-weight: 700;
  }
}
