* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $eggshell;
  width: 100%;
  @include screen-fill(up) {
    border: 1px solid $light-grey;

    padding: 122px 0;
  }
}

.root {
  margin: auto;
  position: relative;
  background-color: $white;
  padding: {
    top: 40px;
  }

  width: 100%;
  max-width: $max-cont-size; // like design says!
  @include breakpoint-down(small) {
    padding-top: 32px;
  }

  @include screen-fill(down) {
    padding-block: 0;
  }
  @include screen-fill(up) {
    border-radius: $container-top-bottom-rad;
  }
}
.container {
  margin:auto;
  width: calc(100% - 64px);
  @include breakpoint-up(medium) {
    width: calc(100% - 80px);
  }
}

section {
  padding: {
    top: 32px;
  }
  .container {
    padding-bottom: 32px;
  };
  &:not(:last-child) {
    .container {
      border-bottom: 1px solid #e0e0e0;
    }
  }

}


// Lists
.rows-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  list-style-position: outside;

  li {
    margin-left: 23.3667px;

    padding-left: 18px;
    &::marker {
      color: $dark-Raspberry;
    }
  }
}
.disc-list {
  list-style-type: disc;
}
.decimal-list {
  list-style-type: decimal;
  li {
    &::marker {
      font-weight: bold;
    }
  }
}
