.fs-young {
  font-family: $young-serif-font;
}
.fs-outfit {
  font-family: $outfit-font;
}

.recipe__header {
  color: $dark-Charcoal;
  font-family: $young-serif-font;
  font-size: 35px;
  font-weight: 400;
  @include breakpoint-up(medium) {
    font-size: 40px;
  }
}
.section__header {
  font-family: $young-serif-font;
  margin-top: 0;
  font-size: 27px;
  color: $nutmeg;
  font-weight: 400;
}

.main-p {
  font-family: $outfit-font;
  font-size: 16px;
  color: $wenge-brown;
  line-height: 1.5rem;
}
.preparation-title {
  color: $dark-Raspberry;
  font-size: 21px;
  font-weight: 600;
}
